#tab-background { max-height: 32px !important; }
:root {
  --tab-min-height: 32px !important;
  --tab-max-height: 32px !important;
  --urlbar-container-height: 32px !important;
  --tab-border-radius: 0;
  --tab-block-margin: 0;
}

#navigator-toolbox {
  display: flex;
  flex-direction:row
}

/* 1. menubar */
#toolbar-menubar{
  visibility: collapse;
}

/* 2. TabsToolbar */
#TabsToolbar{
  order: 2
}
#firefox-view-button{
  visibility: collapse;
}
#new-tab-button{
  visibility: collapse;
}
#tabs-newtab-button{
  visibility: collapse;
}
#alltabs-button{
  visibility: collapse
}
.titlebar-close{
  visibility: collapse
}

/* 3. nav-bar */
#navi-bar {
  order: 1
}
#back-button {
  visibility: collapse;
}
#forward-button{
  visibility: collapse;
}
#stop-reload-button{
  visibility: collapse;
}
#tracking-protection-icon-container {
  visibility: visible;
}
#identity-box {
  visibility: collapse;
}
#page-action-buttons{
  visibility: collapse;
}

#urlbar-container{
}

#unified-extensions-button{
  visibility: collapse;
}
#nav-bar-overflow-button{
  visibility: collapse;
}

/* 4. peronalToolbar */
#PersonalToolbar{
  visibility: collapse;
}

